
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Tin Tức</h2>*@
@*<a href="https://www.dienmayxanh.com/kinh-nghiem-hay/tat-tan-tat-ve-iphone-12-co-nhung-gi-thu-vi-ma-ai-1263600">Tất Tần Tật về Ip12 </a>*@
<div class="container">
    <div class="overlay">
        <div class="container">
            <div class="description " id="about">
                <a href="\Home\Index">
                    <h1>
                        Hello ,Welcome To My official Website
                        <p>
                            E-SHOPPER
                        </p>
                        <button class="btn btn-outline-secondary btn-lg">See more</button>
                    </h1>
                </a>

            </div>
            <p>Giới thiệu về Công ty E-SHOPPER</p><br />
            <img width="1000px" height="500px" src="~/Images/home/logo.png" />
            <div>
                Công ty E-SHOPPER có tên đầy đủ là công ty cố phẩn E-SHOPPER được thành lập vào tháng 4 năm 2022. Đây là một công ty
                chuyên cung câp cho thị trường bán lẻ điện thoại tại Việt Nam.
                Cùng với sự phát triển của thời đại công nghệ 4.0 có rất nhiều công ty đi theo mô hình từ công nghệ đến kinh doanh
                và trong đó cũng có E-SHOPPER.
            </div>
        </div>
    </div>
</div>

