
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>News</h2>
<div class="container">
    <h1 class="text-center">Cập Nhật Công Nghệ</h1>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-img">
                    <img width="300px" height="400px" src="https://cdn.tgdd.vn/Files/2022/04/05/1424120/anh-chen-bai-08_1280x720-800-resize.jpg" alt="Cách xóa vĩnh viễn tài khoản Discord"/>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Tin Tức</h4>
                    <p class="card-text">

                        <b> Cách xóa tài khoản Discord trên điện thoại và máy tính</b>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="~/Product/News1" class="card-link">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-img">
                    <img width="300px" height="400px" src="https://cdn.tgdd.vn/Files/2021/04/12/1342745/h2_1280x720-800-resize.jpg" class="img-fluid">
                </div>

                <div class="card-body">
                    <h4 class="card-title">Tin Tức</h4>
                    <p class="card-text">
                        <b>Ra mắt cách đây 5 năm, đây là 5 lý do đầy thuyết phục khiến Iphone 8 plus vẫn được các iFan săn đón trong năm 2022</b>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="~/Product/News2" class="card-link">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-img">
                    <img width="300px" height="400px" src="https://cdn.tgdd.vn/Products/Images/42/210246/samsung-galaxy-a71-7-1.jpg"  class="img-fluid">
                </div>

                <div class="card-body">
                    <h4 class="card-title">Tin Tức</h4>
                    <p class="card-text">
                        <b> 5 cách sử dụng điện thoại sử dụng điện thoại Samsung nào mới bắt đầu xài phải chú ý ngay</b>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="~/Product/News3" class="card-link">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>


